<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ space.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ space.summary }}">

    <link rel="shortcut icon" href="{{ space.favicon }}">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700|Hind:400,700">

    <link rel="stylesheet" href="{{ 'style.css' | stylesheet_url }}">

    {% include "style-override" %}

    {{ content_for_header }}
  </head>
  <body>

    <div class="center">
      <main class="wrapper wrapper--{{ space.layout }}">
        {{ yield }}
      </main>
    </div>

    {% include "icons" %}

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
    <script src="{{ 'main.js' | javascript_url }}"></script>
  </body>
</html>
