<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ space.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ space.summary }}">
    <link rel="shortcut icon" href="{{ space.favicon }}">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700|Hind:400,700">

    <link rel="stylesheet" href="{{ 'style.css' | stylesheet_url }}">
    <link rel="stylesheet" href="{{ 'share.css' | stylesheet_url }}">
    <style>
      {% if space.background_color != empty %}
        body { background-color: {{ space.background_color }}; }
      {% endif %}

      {% if space.background_image != empty %}
        body { background-image: url({{ space.background_image }}); }
      {% endif %}

      {% if space.background_color == "" %}
        {% if space.background_image == "" %}
          body {
            background-image: linear-gradient(90deg,#757F9A 0,#D7DDE8 100%);
          }
        {% endif %}
      {% endif %}

      {% if space.text_color != empty %}
        body { color: {{ space.text_color }};  }
      {% endif %}
      {% if space.wrapper_background != empty %}
        .wrapper { background: {{ space.wrapper_background }}; }
      {% endif %}

      a { color: {{ space.link_color }}; }

      .button {
        background-color: {{ space.button_color }};
        color: {{ space.button_text_color }};
      }

      .button:hover {
        background-color: {{ space.button_hover_color }};
      }
    </style>

    {{ space.google_analytics }}
  </head>
  <body>

    <div class="center">
      <div class="center__reset">

        {% if space.layout == 'one-column' %}

          <div class="wrapper wrapper--one-column">
            <img src="{{ space.logo }}" class="logo" alt="Logo">
            {{ yield }}
          </div>

        {% elsif space.layout == 'two-column' %}

          <div class="wrapper wrapper--two-column">
            <div class="wrapper__content">
              <img src="{{ space.logo }}" class="logo" alt="Logo">
              {{ yield }}
            </div>
            <div class="wrapper__product">
              <img src="{{ space.product_image }}" alt="">
            </div>
          </div>

        {% endif %}

      </div>
    </div>


    <script src="{{ 'main.js' | javascript_url }}"></script>
  </body>
</html>
